<div id="<%= dom_id booking %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Full name:</strong>
    <%= booking.full_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= booking.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= booking.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Trek name:</strong>
    <%= booking.trek_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= booking.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End date:</strong>
    <%= booking.end_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Number of people:</strong>
    <%= booking.number_of_people %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Special requests:</strong>
    <%= booking.special_requests %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= booking.status %>
  </div>
</div>
